.header-container {
  display: flex;
  justify-content: space-between;
  background: antiquewhite;
}

.company-info-section {
  justify-items: center;
  padding-left: 400px;
}

.user-info-section {
  margin-top: 4px;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 12px;
}
