.stock-main-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.stock-header-container{
  display: flex;
  justify-content: space-between;
}

table{
  width: 100%;
}

.stock-section{
  width: 100%;
}


